*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ededed;
}

header{
	width: 100%;
	height: 200px;
	justify-content: center;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid black;
}

#principal{
	width: 1000px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}

#banner{
	height: 400px;
	width: 100%;
	background-image: url(../img/banner2.jpg);
	background-attachment: fixed;
	background-position: bottom;
	filter: brightness(70%);
}

#logo{
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;

}

#listaMenu{
	width: inherit;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}


.itemLista{
	width: 200px;
	height: inherit;
	float: left;
	margin-left: 40px;
	text-align: center;
	list-style: none;
	font-family: verdana;
	font-size: 1em;
	letter-spacing: 4px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding-top: 5px;
	font-weight: 200;
}

#cardapioPizza, #cardapioEsfirra{
	height: 700px;
	width: 100%;
/*	background-color: #0f0f0f;*/
	background-image: url(../img/banner10.jpg);
}

footer{
	width: 100%;
	height: 200px;
	background-color: red;
}

.organizarSecao{
	width: 1250px;
	height: 700;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	padding-top: 50px;
}

.menuCardapio{
	width: 550px;
	height: 600px;
	border: 2px solid #ededed;
	border-radius: 10px 10px 10px 10px;
	margin-left: 50px;
	float: left;
	padding: 20px;
	color:#ededed;
	font-family: verdana;
}

h3{
	letter-spacing: 2px;
	text-align: center;
	width: 510px;
	height: 30px;
}

	

.listaCardapio{
	width: 400px;
	height: 480px;
	color: #ededed;
	list-style: none;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 15px;
	float: left;
	padding-left: 15px;
}

.itemCardapio{
	height: 30px;
	width: 480px;
	font-size: 1.2em;
	letter-spacing: 2px;
	border-bottom: 1px #ededed dotted;
}

.itemPreco{
	height: 66px;
	width: inherit;
	font-size: 1.1em;
	letter-spacing: 2px;
}

.subItemCardapio{
	width: inherit;
	height: 30px;
	font-size: 0.9em;
	margin-bottom: 6px;
}

.listaPreco{
	width: 100px;
	height: 480px;
	color: #ededed;
	list-style: none;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 15px;
	float: left;
}

.tipoCombo{
	width: 800px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
}

.descricaoCombo{
	text-align: end;
	padding-right: 50px;
	border-right: solid 4px black;
	width: 400px;
	height: inherit;
	float: left;
	margin-right: 50px;
	padding-top: 20px;
}


.imgCombo{
	width: 300px;
	height: 250;
	float: left;
	padding-bottom: 20px;
	padding-top: 20px;
}

.textoCombo{
	font-size: 1.2em;
	letter-spacing: 2px;
	font-family: verdana;
}

h2{
	letter-spacing: 2px;
	font-family: verdana;
}

.organizarCombo, #combo{
	padding-top: 100px;
	padding-bottom: 100px;
	width: 1250px;
	height: 1500;
	margin-left: auto;
	margin-right: auto;
}