*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ededed;
}

header{
	width: 100%;
	height: 200px;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	font-weight: bold;
}

#principal{
	width: 100%;
	height: 40px;
	background-color: #ededed;
	border-bottom: 3px solid black;
}

#banner{
	height: 400px;
	width: 100%;
	background-image: url(../img/banner2.jpg);
	background-attachment: fixed;
	background-position: bottom;
	filter: brightness(70%);
}

/*
#contato{
	height: 240px;
	width: 70px;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	position: relative;
	position: fixed;
	margin-left: 100px;
}

.itemContato{
	height: 60px;
	width: inherit;
	margin-bottom: 10px;
	background-color: aqua;
}
*/

#logo, img{
	width: 300px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

#listaMenu{
	width: 1000px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}


.itemLista{
	width: 200px;
	height: inherit;
	float: left;
	margin-left: 40px;
	text-align: center;
	list-style: none;
	font-family: verdana;
	font-size: 1em;
	letter-spacing: 4px;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding-top: 5px;
	font-weight: 200;
}

#cardapioPizza, #cardapioEsfirra{
	height: 800px;
	width: 100%;
	background-image: url(../img/banner10.jpg);
}


.organizarSecao{
	width: 1250px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 100px;
	padding-top: 100px;
}

.menuCardapio{
	width: 550px;
	height: 600px;
	border: 2px solid #ededed;
	border-radius: 10px 10px 10px 10px;
	margin-left: 50px;
	float: left;
	padding: 20px;
	color:#ededed;
	font-family: verdana;
}

h3{
	letter-spacing: 2px;
	text-align: center;
	width: 510px;
	height: 30px;
}

	

.listaCardapio{
	width: 400px;
	height: 480px;
	color: #ededed;
	list-style: none;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 15px;
	float: left;
	padding-left: 15px;
}

.itemCardapio{
	height: 30px;
	width: 480px;
	font-size: 1.2em;
	letter-spacing: 2px;
	border-bottom: 1px #ededed dotted;
}

.itemPreco{
	height: 66px;
	width: inherit;
	font-size: 1.1em;
	letter-spacing: 2px;
}

.subItemCardapio{
	width: inherit;
	height: 30px;
	font-size: 0.9em;
	margin-bottom: 6px;
}

.listaPreco{
	width: 100px;
	height: 480px;
	color: #ededed;
	list-style: none;
	border-bottom: 1px solid #ededed;
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 15px;
	float: left;
}

.tipoCombo{
	width: 800px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 80px;
}

.descricaoCombo{
	text-align: end;
	padding-right: 50px;
	border-right: solid 4px black;
	width: 400px;
	height: inherit;
	float: left;
	margin-right: 50px;
	padding-top: 20px;
}


.imgCombo{
	width: 300px;
	height: 280px;
	float: left;
	padding-bottom: 20px;
	padding-top: 40px;
	filter: brightness(90%);
}

.listaDescricao{
	width: 350px;
	height: 250px;
	list-style: none;
	padding-top: 20px;
}

.itemDescricao{
	padding-top: 15px;
	font-size: 1.2em;
	height: 40px;
	letter-spacing: 2px;
	font-family: verdana;
}

.precoDescricao{
	letter-spacing: 2px;
	font-family: verdana;
	font-size: 1.4em;
	font-weight: 100;
	height: 30px;
	margin-top: 20px;
	font-weight: 700;
}

h2{
	width: 350px;
	height: 30px;
	letter-spacing: 2px;
	font-family: verdana;
}

.organizarCombo{
	width: 1250px;
	height: 1140px;
	margin-left: auto;
	margin-right: auto;
}

#combo{
	padding-top: 150px;
	padding-bottom: 100px;
	width: 100%;
	height: 1390px;
	margin-left: auto;
	margin-right: auto;
}

#localizacao{
	width: 100%;
	height: 800px;
	padding-top: 100px;
	padding-bottom: 100px;
}

#organizarlocal{
	width: 800px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
}

#imgLocal{
	width: 500px;
	height: 500px;
	margin-left: 150px;
}


#textoLocal{
	letter-spacing: 2px;
	font-family: verdana;
	font-size: 1.8em;
	font-weight: 500;
	padding-left: 40px;
	margin-top: 40px;
	border-top: 1px solid black;
	height: 60px;
	padding-top: 10px;
}

footer{
	width: 100%;
	height: 200px;
	background-color: black;
}

#textoFooter{
	font-family: verdana;
	font-size: 0.8em;
	color: white;
	width: 1000px;
	height: inherit;
	margin-left: auto;
	margin-right: auto;
	padding-top: 80px;
}